.App {
    background-image: linear-gradient(to right top, #008e6d, #007d60, #006c53, #005b46, #004b3a);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.dealer {
    text-align: center;
    height: 10rem;
    padding-bottom: 1rem;
  }

h1:hover {
    text-decoration: 3px solid #cc1e1e underline;
}

