
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    justify-content: center;
    width: 100%;
}

strong {
    font-weight: bold;
    padding-top: 5px;
    margin-left: 3px;
    margin-right: 2px;
    padding-left: 10px;
    padding-top: 5px;
    color: black;
}

.footerLinkOne {
    font-weight: 500;
    padding-top: 5px;
    padding-right: 10px;
    color: black;
    padding-left: 10px;

}

.footerLinks {
    font-weight: 500;
    border-left: 2px solid black;
    margin-left: 3px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    color: black;
    letter-spacing: 0.3px;
}

.footerLinks:hover, .footerLinkOne:hover {
    color: white;
    cursor: pointer;
    transition: 1s ease-in all;
    transform:translateY(2px);
}

strong:hover {
    color: #cc1e1e;
    cursor: pointer;
    transition: 1s color;
}

strong::before {
    content: " ♣️ ";
    color: black;
}

.lastLink::after {
    content: " ♠️ ";
    color: black;
}
