.team-member-card {
    height: 250;
    width: 150;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    perspective: 1000px;
    margin-bottom: 20px; /* Adds some space between cards */
  }

  .team-member-card.flipped {
    transform: rotateY(180deg);
  }
  
  .team-member-content {
    width: 120%;
    height: 150%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .team-member-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .team-member-facts {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    padding: 50px;
    box-sizing: border-box;
    background-color: white;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .team-member-card.flipped .team-member-content {
    transform: rotateY(180deg);
  }
  
  .team-member-card.flipped .team-member-facts {
    transform: rotateY(0deg);
  }
  